@font-face {
    font-family: 'Rubik Numbers';
    src:    url('https://files.aawd.nl/codebox/rubik-numbers.woff2') format('woff2'),
            url('https://files.aawd.nl/codebox/rubik-numbers.ttf') format('truetype');
}

.codebox {
    --color-grey: #c7c2c2;
    --size-input: 2.5rem;
    --size-input-border: 0.125rem;
    --size-input-padding: 0.5rem;
    --input-width: calc(2 * var(--size-input-border) + 2 * var(--size-input-padding) + var(--size-input));

    display: flex;
    justify-content: center;
}

.codebox__code {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.codebox__code--three {
    width: calc(4 * var(--input-width) - 0.01rem);
}

.codebox__code--four {
    width: calc(5 * var(--input-width) - 0.01rem);
}

.codebox__code--five {
    width: 18.5rem;
}

input, .codebox__input {
    --color-outline: #1ed760;
}

.codebox__input {
    margin-bottom: 1rem;
    padding: var(--size-input-padding);
    width: var(--size-input);
    height: var(--size-input);
    font-size: var(--size-input);

    font-family: 'Rubik Numbers', sans-serif;
    text-align: center;

    border: var(--size-input-border) solid var(--color-grey);
    border-radius: 0.2rem;
}

.codebox__input:focus, .codebox__input--valid {
    border-color: var(--color-outline);
}

input[type=tel]:focus {
    outline: 0;
    box-shadow: 0 0 0 0.125rem var(--color-outline);
}

.codebox__input--valid {
    background-color: var(--color-outline);
    color: white;
}

::placeholder {
    color: #e2e2e2;
}
