@font-face {
    font-family: 'Rubik Numbers';
    src:    url('../resources/rubik-numbers.woff2') format('woff2'),
            url('../resources/rubik-numbers.ttf') format('truetype');
}

.codebox {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
            justify-content: center;
    margin: 1.5rem;
}

.codebox__code {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    width: 100%;
}

input, .codebox__input {
    --outline-color: #313261;
}

.codebox__input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 2.5rem;
    height: 2.5rem;

    font-family: 'Rubik Numbers', sans-serif;
    font-size: 2.5rem;
    text-align: center;

    border: 0.125rem solid #c7c2c2;
    border-radius: 0.2rem;
}

.codebox__input:focus, .codebox__input--valid {
    border-color: var(--outline-color);
}

input[type=tel]:focus {
    outline: 0;
    box-shadow: 0 0 0 0.125rem var(--outline-color);
}

.codebox__input--valid {
    background-color: var(--outline-color);
    color: white;
}

::-webkit-input-placeholder {
    color: #e2e2e2;
}

::-moz-placeholder {
    color: #e2e2e2;
}

::-ms-input-placeholder {
    color: #e2e2e2;
}

::placeholder {
    color: #e2e2e2;
}

/* 4 and 8 items: 18rem. 6 items: < 15rem */
